
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: arial;
    background-color:green;
    color:black;
}
p   {
    line-height: 2;
}


.text-center {
    text-align: center;
    text-transform: uppercase;
    text: shadow 2px;
    text-decoration:dotted
}
.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: orange;
}
h1  { 
    margin-bottom: 30px;
}
h2  {
    margin-bottom: 30px;
}
h3  {
    margin-bottom:30px;
}